p {
    text-align: justify;
}

#header {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(45deg,#7c3581 5%,#e26047 50%,#e99343 90%);
    background-image: linear-gradient(45deg, rgb(124, 53, 129) 5%, rgb(226, 96, 71) 50%, rgb(233, 147, 67) 90%);
}

.desktop-tablet-mode {
    display: block;
}

.mobile-mode {
    display: none;
}

@media (max-width: 375px) {
    .desktop-tablet-mode {
        display: none;
    }
    
    .mobile-mode {
        display: block;
    }
}

#dropdownMenuButton {
    position: relative;
    width: 300px;
    left: calc((100% - 300px) / 2);
}

.dropdown-menu {
    left: calc((100% - 300px) / 2);
}

#iframeDemo {
    width: 344px;
    height: 694px;
    
    border: 2px solid #ddd;
    border-radius: 45px;
    padding: 55px 12px;
    background: black;
    
    -webkit-box-shadow: 0px 10px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 12px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 12px -2px rgba(0,0,0,0.75);
}

.loader {
    position: absolute;
    top: calc((100% - 50px)/ 2);
    right: calc((100% - 50px)/ 2);

    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#why-go-mobile-section {
    padding-top: 32px;
    padding-bottom: 32px;
}

.why-go-mobile-image {
    width: 200px;
    height: 200px;
}

#amazing-features-section {
    background-color: #f8fbfd;
    padding-top: 32px;
    padding-bottom: 32px;
}

.amazing-feature-icon {
    font-size: 36px;
    color: #09a3ee;
    padding: 2px;
}

.amazing-feature-text {
    text-align: left;
}

@media (max-width: 575px) {
    .amazing-feature-text {
        text-align: center;
    }
}

#build-your-mobile-app-now-section {
    padding-top: 32px;
}