p {
    text-align: justify;
}

.jumbotron {
    border-radius: 0;
    margin-bottom: 0;
    background: linear-gradient(45deg,#7c3581 5%,#e26047 50%,#e99343 90%);
    background-image: linear-gradient(45deg, rgb(124, 53, 129) 5%, rgb(226, 96, 71) 50%, rgb(233, 147, 67) 90%);
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

#why-go-mobile-section {
    padding-top: 32px;
    padding-bottom: 32px;
}

.why-go-mobile-image {
    width: 200px;
    height: 200px;
}

#amazing-features-section {
    background-color: #f8fbfd;
    padding-top: 32px;
    padding-bottom: 32px;
}

.amazing-feature-icon {
    font-size: 36px;
    color: #09a3ee;
    padding: 2px;
}

.amazing-feature-text {
    text-align: left;
}

@media (max-width: 575px) {
    .amazing-feature-text {
        text-align: center;
    }
}

#build-your-mobile-app-now-section {
    padding-top: 32px;
}